
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="/Scripts/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/Scripts/jqwidgets/styles/jqx.light.css" type="text/css" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Scripts/admin_lte/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/jquery.fileupload-ui.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/jquery.fileupload.css" type="text/css" />
}
<div class="box box-info">
    <form role="form" action="/" id="formPromulgateStatus">
        @Html.AntiForgeryToken()
        <div class="box-header with-border">
            <h3 class="box-title">@L(DocumentResourceNames.CreatePromulgateStatus)</h3>
            <div class="mailbox-controls">
                <div class="btn-group">
                    <a href="@Url.Action("List")" class="btn btn-success btn-sm">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> @Ls(DTWebConsts.LocalizationSourceName, DTWebResourceNames.List)
                    </a>
                    <button id="btnSubmit" type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> @Ls(DTWebConsts.LocalizationSourceName, DTWebResourceNames.Save)
                    </button>
                </div>
            </div>
        </div>
        <div class="box-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@L(DocumentResourceNames.PromulgateStatusCode) <span style="color: red">(*)</span></label>
                        <i id="code-help"
                           class="fa fa-info-circle red-text"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Mã trạng thái là bắt buộc không được bỏ trống"></i>
                        <input type="text"
                               class="form-control"
                               name="Code"
                               id="Code"
                               data-validation="length"
                               data-validation-length="3-128"
                               data-validation-allowing=" " />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@L(DocumentResourceNames.PromulgateStatusName) <span style="color: red">(*)</span></label>
                        <i id="code-help"
                           class="fa fa-info-circle red-text"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Tên trạng thái là bắt buộc không được bỏ trống"></i>
                        <input type="text"
                               class="form-control"
                               name="Name"
                               id="Name"
                               data-validation="length"
                               data-validation-length="4-512"
                               data-validation-allowing=" " />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
       
        const createPromulgateStatusUrl = `${hostUrl}/api/promulgatestatuses/create`;

        $(document).ready(function () {
            if (cultureSelector === 'vi-VN') {
                $.validate({
                    language: vietNamese,
                    form: '#formPromulgateStatus',
                    addValidClassOnAll: true
                });
            } else {
                $.validate({
                    language: cultureSelector,
                    form: '#formPromulgateStatus',
                    addValidClassOnAll: true
                });
            }

            $("#formPromulgateStatus").submit(function (e) {
                e.preventDefault();
                create();
            });
        });
    </script>

    <!--Actions-->
    <script>
        function create() {
            // Create an FormData object
            let formData = $("#formPromulgateStatus").submit(function (e) {
                e.preventDefault();
                return;
            });
            //formData[0] contain form data only
            // You can directly make object via using form id but it require all ajax operation inside $("form").submit(<!-- Ajax Here   -->)
            formData = new FormData(formData[0]);

            $.ajax({
                url: createPromulgateStatusUrl,
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function (event, settings, xhr) {
                    xhr.message = {
                        infor: 'Thêm trạng thái ban hành thành công',
                        returnUrl: `${hostUrl}/promulgatestatus/list`
                    };
                }
            });
        }
    </script>
}
